awscli
reflex
reflex-chakra
boto3
python-dotenv
authlib 
werkzeug 
requests
fastapi
sentence-transformers
faiss-cpu
numpy
cryptography>=46.0.5 # not directly required, pinned by Snyk to avoid a vulnerability