awscli
reflex
reflex-chakra
boto3
python-dotenv
authlib 
werkzeug 
requests
fastapi
sentence-transformers
faiss-cpu
numpy
uvicorn
h11>=0.16.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability